<!DOCTYPE html>

<html lang="pt-br"> <!-- Tag HTML-->
  <head> <!-- Responsável por receber configurações da página-->
    <meta charset=UTF-8>
    {% block title %}
      <title>Casa Criativa</title> <!-- Tag de título da página-->
    {% endblock %}


    {% include "head.html" %} 
  </head>

  <body id="{{bodyId}}"> <!--Corpo da aplicação-->

    <div id="container"> <!--Caixa geral-->

      {% block content %}
      {% endblock %}

    </div>

    {% include "modal.html" %}

    <script src="/scripts.js"></script>
  </body>
</html>