<!--Modal-->
<div id="modal" class="hide">
<div class="content">
  <h1>Nova Ideia</h1>

  <form action=""> <!--Formulário-->

    <div class="input-wrapper">
      <!--Título-->
      <label for="title">
        Título da Ideia
      </label>
      <input type="text" name="title" id="">
    </div>

    <div class="input-wrapper">
      <!--Categoria-->
      <label for="category">
        Categoria
      </label>
      <input type="text" name="category" id="">
    </div>

    <div class="input-wrapper">
      <!--Link da Imagem-->
      <label for="images">
        Link da Imagem
      </label>

      <input type="url" name="images" id="">
    </div>

    <div class="input-wrapper">
      <!--Descrição da ideia-->
      <label for="description">
        Digite uma descrição para essa ideia
      </label>

      <textarea name="description" id="" cols="30" rows="10">
      </textarea>
    </div>

    <div class="input-wrapper">
      <!--Link da ideia-->
      <label for="link">
        Link da Ideia
      </label>
      <input type="url" name="link" id="">
    </div>

    <a href="#" onclick="onOff()">Voltar</a>
    <button>Salvar</button>

  </form>

</div>